image: microsoft/dotnet:2.1-sdk-alpine

stages:
  - build
  - test
  - deploy

build ChickenAPI:
  stage: build
  tags:
    - docker
    - dotnet
  variables:
    build_path: "src/ChickenAPI"
  script:
    - "cd $build_path"
    - "dotnet build"

build samples:
  stage: build
  tags:
    - docker
    - dotnet
  script:
    - "cd samples/ChickenAPI.HelloWorldPlugin"
    - "dotnet build"
    
test ChickenAPI:
  stage: test
  tags:
    - docker
    - dotnet
  variables:
    build_path: "test/ChickenAPI.Test"
  script:
    - "cd $build_path"
    - "dotnet test"

test Packet List Markdown:
  stage: test
  tags:
    - docker
    - dotnet
  variables:
    file: /tmp/supposed_file
  script:
   - chmod +x scripts/packet_list.sh
   - ./scripts/packet_list.sh > $file # generate the packet list markdown file
   - diff $file src/ChickenAPI/Packets/README.md # compare the repository one and the previously generated one
   
deploy Nuget Package:
  stage: deploy
  tags:
    - dotnet
  only:
    - tags
  variables:
    package_path: "src/ChickenAPI"
  script:
   - "dotnet build $package_path"
   - "dotnet pack $package_path --output nupkgs /p:PackageVersion=$CI_COMMIT_TAG"
   - "dotnet nuget push $package_path/nupkgs/ChickenAPI.CI_COMMIT_TAG.nupkg -k NUGET_API_KEY -s https://api.nuget.org/v3/index.json"